body {
  margin: 0;
  font-family: karla, -apple-system, system-ui, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: karla, -apple-system, system-ui, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}
